<div class="main"> 
  <div class="inner">
    <div class="user__wrapper">
      <div class="user-name">
        <%= @user.name%>
      </div>
        <table border = "1" class="user_table">
          <tbody>
            <tr>
              <th class="table_1">本日の納車予定の<br>担当した車両</th>
              <td class="table_2">
              <% @cars.each do |car| %>
                <% if @user.id == car.front_id || @user.id == car.body_id || @user.id == car.paint_id%>
                  <% if Date.today == car.date %>
                    <%= link_to car.car, car_path(car.id)%>
                  <% end %>
                <%end %>
              <% end %>
              </td>

           
            </tr>
            <tr>
              <th colspan="2" class="table_1"></th>
              
            </tr>
            <tr>
              <th class="table_1">本日作業予定 </th>
              <td class="table_2">
              <% @cars.each do |car| %>
                <% if @user.id == car.front_id || @user.id == car.body_id || @user.id == car.paint_id%>
                  <% if Date.today == car.front_date || Date.today == car.body_date || Date.today == car.body_date %>
                    <%= link_to car.car, car_path(car.id)%>
                  <% end %>
                <%end %>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <div class= "log-in">
        <% if current_user.id == @user.id %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>