// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 一覧ページ
.cars {
  overflow: scroll;
  height: 80vh;
  width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.car-list-1 {
  background-color: #253141;
  color: white;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.car--table a{
  color: deepskyblue;
  text-decoration: none;
  font-size: 30px;
}


// 登録ページ
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.lavel {
  font-size: 3vh;
  color: rgb(255, 255, 255);
  margin-top: 2vw;
}

.heads-up{
  color: red;
  font-size: 2vh;
}

.text-input {
  height: 4vh;
  width: 20vw;
  margin-bottom: 10px;
}


// 詳細ページ
.car-name{
  color:  rgb(21, 22, 24);
  font-size: 40px;
  padding: 14px;
}

.car-table{
  background-color: #253141;
  width: 500px;
}

.table-col1{
  color: skyblue;
  font-size: 3vh;
}

.table-col2{
  color: skyblue;
  font-size: 3vh;
  height: 4vh;
  width: 15vw;
  padding: 10px 10px;
}

.table-col2 a{
  color: skyblue;
  font-size: 3vh;
  text-decoration: none;
}

.btns{
  display: flex;
  padding-top:10px;
}

.btn a {
  color: blue;
  padding: 20px;
  text-decoration: none;
}
