// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-name{
    
    font-size: 40px;
    padding: 14px;
  }

  .user_table{
    background-color: #253141;
    height: 200px;
    width: 500px;
    margin: 0 0 30px 50px;
  }

  .table_1{
    color:  skyblue;
    width: 200px;
  }
  
  .table_2 a{
    color: skyblue;
    font-size: 20px;
    text-decoration: none;
  }

  .table_2 {
    color: skyblue;
  }

  .log-in a{
    text-decoration: none;
    color: blue;
  }